<!DOCTYPE html>
<html>
    <head>
        <title>COVID Viewer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=1">
        <link rel="stylesheet" type= "text/css" href="static/style.css">
        <script type="text/javascript" src="static/chartmaking.js"></script>
        <script type="text/javascript" src="static/dailychartmaking.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>    
        <script type="text/javascript" src="static/data1.json"></script> 
        
        
        <script type="text/javascript">
            google.charts.load('current', {
                'packages':['geochart'],
                'mapsApiKey': 'AIzaSyAZusPDjaIShqJ9Sz1os5tUzflBo_zppxQ'
            });
            google.charts.setOnLoadCallback(drawRegionsMap);
            function drawRegionsMap() {
                var data = google.visualization.arrayToDataTable([
                ['Province',   'Hospitals'],
                ['CA-ON', 360],
                ['CA-NL', 3],
                ['CA-PE', 23],
                ['CA-NS', 36],
                ['CA-NB', 6],
                ['CA-AB', 5],
                ['CA-QC', 230],
                ['CA-BC', 7],
                ['CA-YT', 82],
                ['CA-MB', 33],
                ['CA-NT', 136],
                ['CA-NU', 236],
                ['CA-SK', 536],
                ]); 
                

                var options = {
                region: 'CA', // Canada
                resolution: 'provinces',
                colorAxis: {colors: ['#DE3163', '#880808']}, //https://htmlcolorcodes.com/colors/shades-of-red/
                backgroundColor: '#81d4fa',
                };

                var chart = new google.visualization.GeoChart(document.getElementById('geochart-colors'));
                chart.draw(data, options);
            };


            readTextFile("static/data1.json", function(text){
                var data2 = JSON.parse(text);
                    });
                var province = data2.covid.map(function(elem) {
                        return elem.province;
                    });
                var hospitals = data2.covid.map(function(elem) {
                        return elem.hospitals;
                });
                
                var data = new google.visualization.arrayToDataTable([
                ['provinces','hospitals'],
                    [provinces[0], hospitals[0]],
                    [provinces[1], hospitals[1]],
                    [provinces[2], hospitals[2]],
                    [provinces[3], hospitals[3]],
                    [provinces[4], hospitals[4]],
                    [provinces[5], hospitals[5]],
                    [provinces[6], hospitals[6]],
                    [provinces[7], hospitals[7]],
                    [provinces[8], hospitals[8]],
                    [provinces[9], hospitals[9]],
                    [provinces[10], hospitals[10]],
                    [provinces[11], hospitals[11]],
                    [provinces[12], hospitals[12]],
                    ]);
                    
        
            google.charts.load('current', { 'packages':['geochart'], 'mapsApiKey': 'AIzaSyAZusPDjaIShqJ9Sz1os5tUzflBo_zppxQ'});
            google.charts.setOnLoadCallback(drawDailyCasesMap);
            
            function drawDailyCasesMap() {
                function readTextFile(file, callback) {
                    var rawFile = new XMLHttpRequest();
                    rawFile.overrideMimeType("application/json");
                    rawFile.open("GET", file, true);
                    rawFile.onreadystatechange = function() {
                        if (rawFile.readyState === 4 && rawFile.status == "200") {
                            callback(rawFile.responseText);
                        }
                    }
                    rawFile.send(null);
                }
                readTextFile("static/dailydata.json", function(text){
                    var data1 = JSON.parse(text);
                    //console.log(data1);
                    var province = data1.covid.map(function(elem) {
                        return elem.province;
                    });
                    var cases = data1.covid.map(function(elem) {
                        return elem.cases;
                    });
                    var deaths = data1.covid.map(function(elem) {
                        return elem.deaths;
                    });
                    var data = new google.visualization.arrayToDataTable([
                    ['Province','Cases','Deaths'],
                    [province[0], cases[0], deaths[0]],
                    [province[1], cases[1], deaths[1]],
                    [province[2], cases[2], deaths[2]],
                    [province[3], cases[3], deaths[3]],
                    [province[4], cases[4], deaths[4]],
                    [province[5], cases[5], deaths[5]],
                    [province[6], cases[6], deaths[6]],
                    [province[7], cases[7], deaths[7]],
                    [province[8], cases[8], deaths[8]],
                    [province[9], cases[9], deaths[9]],
                    [province[10], cases[10], deaths[10]],
                    [province[11], cases[11], deaths[11]],
                    [province[12], cases[12], deaths[12]],
                    ]);
                    var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
                    var options = {
                        region: 'CA', // Canada
                        resolution: 'provinces',
                        colorAxis: {colors: ['#35de35', '#1c8c1c']}, //https://htmlcolorcodes.com/colors/shades-of-red/
                        backgroundColor: '#81d4fa',
                    };
                    chart.draw(data, options);
                });
                        
            };
        </script>
    </head>
    <body>
        <div>
            <a href="/">Home</a>
            <a href="/daily">Daily</a>
            <a href="/past">Past</a>
            <a href="/hospitals">Hospitals</a>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
