<!DOCTYPE html>
<html>
    <head>
        <title>COVID Viewer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=1">
        <link rel="stylesheet" type= "text/css" href="static/style.css">
        <script type="text/javascript" src="static/chartmaking.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>        
        
        
        <script type="text/javascript">
            google.charts.load('current', {
                'packages':['geochart'],
                'mapsApiKey': 'AIzaSyAZusPDjaIShqJ9Sz1os5tUzflBo_zppxQ'
            });
            google.charts.setOnLoadCallback(drawRegionsMap);

            function drawRegionsMap() {
                var data = google.visualization.arrayToDataTable([
                ['Province',   'Hospitals'],
                ['CA-ON', 360],
                ['CA-NL', 3],
                ['CA-PE', 23],
                ['CA-NS', 36],
                ['CA-NB', 6],
                ['CA-AB', 5],
                ['CA-QC', 230],
                ['CA-BC', 7],
                ['CA-YT', 82],
                ['CA-MB', 33],
                ['CA-NT', 136],
                ['CA-NU', 236],
                ['CA-SK', 536],
                ]);

                var options = {
                region: 'CA', // Canada
                resolution: 'provinces',
                colorAxis: {colors: ['#DE3163', '#880808']}, //https://htmlcolorcodes.com/colors/shades-of-red/
                backgroundColor: '#81d4fa',
                };

                var chart = new google.visualization.GeoChart(document.getElementById('geochart-colors'));
                chart.draw(data, options);
            };
        </script>

    </head>
    <body>
        <div>
            <a href="/">Home</a>
            <a href="/daily">Daily</a>
            <a href="/past">Past</a>
            <a href="/hospitals">Hospitals</a>
            {% block content %}{% endblock %}
        </div>
        <div class="container">
            <h1>Test Graph</h1>
            <div>
                <canvas id="canvas"></canvas>
            </div>
        </div>
    </body>
</html>
