<!--
 -----------------------------------------------------
 Name:             daily
 Purpose:          shows cases and deaths information from today using webscraping and Google Charts API
 Author:           Daniel Lupas, Ananth Chebolu
 Updated:          18-Jun-2021
 References:       See base.html
 ----------------------------------------------------
-->
{% extends "base.html" %}

{% block content %}
<div class="contain">
    
    <div id="contain">
    <div id="geoChartCases"></div>
    </div>
    <h5> ⓘ Hover over or tap provinces to see today's cases and deaths in Canada.</h5>

</div>
{% endblock %}