{% extends "base.html" %}

{% block content %}
<div class="landing">
<h1>How to use our platform</h1>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qESRgMUYXeg" allowfullscreen></iframe>
</div>
</div>

<div class="precautions">
    <h1>Take following measures to protect yourself from Contracting and Spreading COVID-19 </h1>
    <div class="List">
    <ul class= "fullList">
        <li> <img src="/static/images/mask.png" class="bulletimages" alt=""> <h4> Wear a mask</h4></li>
        <li><img src="/static/images/distance.png" class="bulletimages" alt=""> <h4>Maintain a minimum of 6 Feet or 1 Meter distance from others</h4></li>
        <li><img src="/static/images/vaccine.png" class="bulletimages" alt=""> <h4>Get Vaccinated</h4> </li>
        <li><img src="/static/images/avoid-crowds.png" class="bulletimages" alt=""> <h4>Avoid crowded areas</h4></li>
        <li><img src="/static/images/washing-hands.png" class="bulletimages" alt=""> <h4> Wash hands regularly</h4></li>
        <li> <img src="/static/images/clean.png" class="bulletimages" alt=""> <h4>Disinfect frequently used srfaces</h4></li>
        <li> <img src="/static/images/healthcare.png" class="bulletimages" alt=""> <h4> Monitor health regularly</h4></li>
    </ul>
</div>
    </div>

<footer>
    <div class="container-fluid p-0">
      <div class="row text-left">
        <div class="col-md-5 col-sm-5">
          <h4 class="text-light">About us</h4>
          <p class="text-muted">We are a group of enthusiastic High School students working to inform the public and create awareness for Coronavirus  </p>
          <p class="pt-4 text-muted">Copyright ©2021 All rights reserved | This program is made with by
            <span> Alhareth Damdam, Ananth Chebolu, and Daniel Lupas</span>
          </p>
        </div>

        <div class="col-md-2 col-sm-12" id="socials">
          <h4 class="text-light">Follow our socials</h4>
          <p class="text-muted">Be Safe Be Cringe!</p>
          <div class="column text-light">
              <a href="https://twitter.com/covid_cringe" target="_blank"><i class="fa fa-twitter"></i></a>
              <a href="https://www.instagram.com/"  target="_blank"><i class="fa fa-instagram"></i></a>
              <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-f"></i></a>
              <a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>

{% endblock %}