{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Test Graph</h1>
    <div>
        <canvas id="canvas"></canvas>
    </div>
</div>
<div>
    <form action="/past" method="POST">
        <select name="region" id="region">
            {% for region in regions %}
            <option value="{{ region }}">{{ region }}</option>
            {% endfor %}
        </select><br>
        <input name="date_picker" id="date_picker"><br>
        <input type="submit" value="Submit">
    </form>
</div>
<!--<p> {{ chosenValue }}</p>-->
{% for entry in entries %}
<div>
    <p>{{ entry }}</p>
    
</div>
{% endfor %}
{% endblock %}